@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/MaterialIcons-Regular.woff2) format('woff2'), url(../fonts/MaterialIcons-Regular.woff) format('woff'), url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  vertical-align: middle;
  display: inline-block;
  line-height: 1em;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.persist-size {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: serif;
  background-color: #FAFAFA;
  font-size: 6vw;
  font-size: 6vmin;
  color: #1c1c1c;
}
@media (min-width: 993px) {
  html,
  body {
    font-size: 20px;
  }
}
* {
  margin: 0;
  padding: 0;
}
header {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  background-color: #e6eeff;
  border-bottom: 2px solid black;
}
header h1 {
  font-size: 5vh;
}
header .version {
  font-size: 3vh;
  font-style: italic;
  color: gray;
}
main {
  height: 90%;
}
.canvas {
  height: 100%;
  position: relative;
}
.canvas .modal {
  position: absolute;
  overflow: auto;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: white;
}
.canvas .modal .close {
  right: 0.2em;
  font-size: 2em;
  cursor: pointer;
  position: absolute;
  z-index: 101;
}
.canvas .modal.closed {
  display: none;
}
.canvas .content {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  height: 100%;
  overflow: auto;
  z-index: 1;
  padding: 1em 0;
}
.canvas .operations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
}
.canvas .operations .operation {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  width: 85%;
  max-width: 25em;
  border: 2px solid #000000;
  border-radius: 5px;
  background-color: #ebebeb;
  text-align: center;
  position: relative;
  padding: 0.7em 1.5em;
  margin-bottom: 1.5em;
}
.canvas .operations .operation .add {
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1.5em;
  bottom: -1em;
}
.canvas .operations .operation .add.hidden {
  display: none;
}
.canvas .operations .operation .del {
  position: absolute;
  right: 0.2em;
  top: 0;
  cursor: pointer;
}
.canvas .operations .operation.has-next:after {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1.5em;
  height: 1.3em;
  width: 100%;
  background: url(../images/arrow-down.png) no-repeat center;
  background-size: contain;
}
.canvas .operations .operation.root {
  font-size: 2em;
  border: 0;
  background: none;
  margin: 0;
}
.canvas .operations .operation.root .add {
  bottom: 0;
}
.canvas .operations .operation.root .del {
  display: none;
}
.canvas .operations .operation.hidden {
  display: none;
}
.following-operations {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  display: flex;
  min-height: 100%;
  width: 100%;
  padding-top: 2em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.following-operations .operation-info {
  border: 2px solid #b5b5b5;
  border-radius: 5px;
  white-space: nowrap;
  padding: 0.7em 1em;
  background-color: cornsilk;
  cursor: pointer;
}
.properties {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  padding-top: 4em;
}
.properties table {
  border: 2px solid black;
  border-collapse: collapse;
  margin: auto;
  width: 90%;
}
.properties table td,
.properties table th {
  border: 2px solid black;
  padding: 0.5em;
}
.properties table th {
  font-weight: normal;
  text-align: right;
}
.properties table td {
  width: 65%;
}
/*# sourceMappingURL=home.css.map */